body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
}

header, footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

main {
  padding: 20px;
}

.price-sheet table {
  width: 100%;
  border-collapse: collapse;
}

.price-sheet th, .price-sheet td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.price-sheet tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contact-us img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  header p, footer p {
      margin: 10px 0;
  }
}
